body {
    background-color:beige;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.table {
    border: 2px solid rgb(145, 162, 117);
    border-radius: 55px;
}
.navbar-nav .nav-link {
    font-size: 18px; 
}
.navbar-brand span {
    font-size: 18px; 
}
.navbar-brand {
    margin-right: 40px; 
    margin-left: 40px; 
}


