<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVDs and Tapes Inventory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <i class="fas fa-film me-3 fs-4"></i>
                <span class="fa-regular fa-clapperboard-play">VIDEO-KÖLCSÖNZŐ</span>
            </a>  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-nav" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto" style="font-size: larger;">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home"><i class="fas fa-home me-1"></i> FŐOLDAL</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/customers"><i class="fa fa-arrow-circle-left me-2"  aria-hidden="true"></i> VISSZA A LISTÁHOZ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12"> 
            <div class="table-responsive ">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>ID number:</th>
                            <td>{{ customer && customer._id }}</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>{{ customer && customer.name }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ customer && customer.phone }}</td>
                        </tr>
                        <tr>
                            <th>ID number:</th>
                            <td>{{ customer && customer.idNumber }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ customer && customer.address }}</td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td>{{ customer && customer.status }}</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.js"></script>
</body>
</html>
