body {
    background-image: url("/assets/kep_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar-nav .nav-link {
    font-size: 18px; 
    font-style: oblique bold;

}
.navbar-brand span {
    font-size: 18px; 
}
.navbar-brand {
    margin-right:20px; 
    margin-left: 20px; 
}

.modal-dialog {
    max-width: 30%; 
        display: block;
        position: absolute;
        left: 60%;
        height: 88%;
        width: 28%;
        overflow-y:auto;
        overflow-x:auto;
        border-radius: 0px;
    }
    




